.parent-container {
  width: 200px; /* Set the desired width of the parent container */
  height: 100px; /* Set the desired height of the parent container */
  position: relative;
  margin: 0;
  padding: 5px !important;
  overflow: hidden;
}

.fill-textarea {
  width: 100%;
  height: 100%;
  /*resize: none;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.input:focus {
    outline: none !important;
    border:1px solid lightgray;
    box-shadow: 0 0 5px #719ECE;
  }

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}
#modal_section{
    outline: 0px;
}
#att_modal_section{
    outline: 0px;
}

#modal_section:focus{
    outline: 0px;
}

#att_modal_section:focus{
    outline: 0px;
}

/* The Modal (background) */
.modal_ {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #d1d8dd9e /* Fallback color */
    /*background-color: rgba(0,0,0,0.9); !* Black w/ opacity *!*/
}
.modal-2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #d1d8dd9e /* Fallback color */
    /*background-color: rgba(0,0,0,0.9); !* Black w/ opacity *!*/
}

/* Modal Content (image) */
.modal-content_ {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 450px;
    max-height: 750px;
}

.modal-content-2 {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 500px;
    /*max-height: 750px;*/
}


/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.modal-image {
    position: relative;
}

.modal-image img {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;

}

.close {
    position: absolute;
    left: 0;
    right: -30em;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    top: -45px;
}

.close:hover,
.close:focus {
    color: #4a5464;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 400px) {
    .modal-content_ {
        width: 100%;
    }
}
